{% extends 'blog1.html.twig' %}

{% block body %}
    <br><br>
    <br><br>
<br>
    <div class="breadcrumb-style-7" >
        <div class="breadcrumb-inner">
            <h1 class="page-title">Comments {{ numberofcomments }}</h1>
            <ul class="page-list">
                <li><a href="#">Commentaire Details</a></li>
            </ul>
        </div>
    </div>

    <div class="blog-single-content">
    <div class="container">


        <div class="row">

            <div class="blog-details-item">
                <div class="thumb border-thumb">
                    <div class="post-thumbnail">

                    </div>
                </div>

                <div class="content margin-top-75">
                    <h5 class="margin-bottom-30"> </h5>
                    <p class="margin-top-30">{{a.titre}} </p><ul class="post-meta margin-top-100">
                    <p class="margin-top-30">{{a.contenu|raw }} </p><ul class="post-meta margin-top-100">


                        <li><a href="#"><i class="fa fa-user"></i> {{ app.user.username }}</a></li>
                        <div class="col-md-2">
                            <li><a class="float-right btn text-white btn-success"><i class="fa fa-comments"></i> Comments {{ numberofcomments }}</a></li>
                            <li><a href="{{ path('likearticle',{id:a.id}) }}"><i style="color:yellow" class="fa fa-heart"></i> {{ numlikes }}</a></li>
                            {% if app.user %}
                                <li>  <a href="{{ path('articles_update', {'id':a.id}) }} " class="float-right btn text-white btn-success">update</a></li>
                            {% endif %}
                            <p class="text-secondary text-center"></p>
                        </div>


<br><br><br>
                        {% for comment in comments  %}


                            <div class="tm-comment-wrapper mt-30">
                                <div class="tm-comment">
                                    <a href="blog.html" class="tm-comment-thumb">
                                        <img width="50" height="50" src="{{ asset('Articles_especes/alma.jpg')}}" class="tm-comment-thumb"/>
                                    </a>
                                    <div class="tm-comment-content">
                                        <h6 class="tm-comment-authorname"><a href="blog.html"></a>
                                        </h6>
                                        <span class="tm-comment-date">
                                                                                                                                                                                                                                                                                                                      1 day
                                                                                            </span>
                                        <p>{{ comment.contenu }}</p>

                                    </div>
                                    {{ comment.datepub|date}}
                                </div>
                            </div>

                            <section class='rating-widget'>

                                <!-- Rating Stars Box -->
                                <div class='rating-stars text-center'>
                                    <ul id='stars'>
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class="fas fa-star"></i>
                                        </li>
                                    </ul>
                                </div>

                                <div class='success-box'>
                                    <div class='clearfix'></div>
                                    <div class='text-message'></div>
                                    <div class='clearfix'></div>
                                </div>



                            </section>
                        {% endfor %}
                    </ul>


<center>

                    <div class="comment-area">

                        <ul class="comment-list">
                            <li class="parent">
                                <div class="single-comment-wrap">

                                    <form method="post" class="tm-form mt-30" id="formcomment">
                                        <div class="tm-form-inner">

                                            <div class="tm-form-field">
                                                <textarea name="comment-content" cols="30" rows="7" placeholder="Enter your comment"></textarea>
                                                <span class="tm-form-animatedline"></span>
                                            </div>
                                            <div class="tm-form-field">
                                                <button type="submit" class="float-right btn text-white btn-success">Entrez votre commentaire
                                                </button>
                                            </div>
                                        </div>
                                    </form>



                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
    </div>
    <br>
    <br>
    <br>

{% endblock %}